<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

		<bean name="taskManage" class="com.yy.cs.base.task.TimerTaskManager" init-method="start" >
			<property name="poolSize"  value="1" />
		  	<property name="timerTasks">
			    <map>
			      	<entry key="com.yy.cs.base.task.TimerTaskTest"   value-ref="timerTaskTest" />
			    </map>
		  	</property>
		</bean>
		<bean id="timerTaskTest" class="com.yy.cs.base.task.TimerTaskTest" >
			<property name="cron" value="*/5 * * * * *" />
		</bean>
</beans>